/* * {
  
 } */

/* :focus {
  
 TODO
} */


body {
  margin-top: 10%;
  margin-left:40%;
  margin-right: 40%;
  background-image: linear-gradient(to right, blue, red);
  height: 100%;
  width: 373px;
} 

h1 {
  text-align: center;
  color: white;
}

input {
   height: 40px;
   width: 365px;
   font-size: 25px;
   text-align: center;
}

.search-container {
   height: 40px;
   width: 365px;
   background-color:transparent;
   border-radius: 5px;
}

.search-container input,
.search-container .suggestions {
  background-color: transparent;

}

.search-container input {
 color: white;
}
.search-container .suggestions {
   font-size: 20px;
   color:  white;
  
}

/* ul {
  TODO
}

ul.has-suggestions {
  TODO
} */

ul li {
  background-color: transparent;
  text-decoration-color: white;
  /* TODO */
}

ul li:hover {
  background-color:rgb(74, 80, 245);
  /* TODO */
}
